@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  
  html{
    scroll-behavior: smooth;
    scroll-padding-top: 94px;
  }

  body{
    -webkit-font-smoothing:antialiased
  }
} 

@layer components{


  /*----- Toast ----- */
  .psi-toast{
    @apply fixed z-50 pointer-events-none left-2/4 -translate-x-2/4 w-[300px] md:w-[500px] p-4 rounded-lg overflow-hidden text-psi-white items-center gap-3 transition-transform flex duration-1000 -top-24
  }

  /*----- Banner ----- */
  .banner{
    @apply px-12 py-14 md:py-20 min-h-[500px] bg-psi-purple-300
  }

  .banner-highlight{
    @apply z-0 relative after:absolute after:bg-[rgba(0,0,0,.5)] after:top-0 after:left-0 after:right-0 after:bottom-0 after:-z-10 after:pointer-events-none
  }

  /*----- Container ----- */
  
  .psi-container{
      @apply max-w-4xl xl:max-w-5xl 2xl:max-w-7xl  mx-auto
    }


  /*----- Form ----- */

  /*----- Input ----- */


  .psi-input{
    @apply p-4 h-16 w-full rounded-md outline-none border-2 focus:invalid:border-red-500 focus:border-green-500 focus:bg-gray-100 placeholder:text-gray-500 
  }

 

  /*----- Menu Mobile ----- */

  .menu-mobile{
    @apply fixed top-0 left-0 right-0 bottom-0 z-20 flex flex-col gap-36 transition-all duration-500 bg-psi-white px-12 py-5  
  }

   /*----- Menu Link ----- */

  .menu-link{
    @apply relative text-psi-black cursor-pointer after:absolute w-fit text-xl 2md:text-base
  }
  .menu-link-highlight{
    @apply bg-purple-300 px-3 py-4 rounded-full hover:bg-psi-purple-200 hover:text-psi-white transition-all 
  }
  .menu-link-border{
    @apply after:absolute after:h-[2px] after:bg-psi-purple-100 after:rounded-full after:transition-all after:-bottom-1 after:left-2/4 after:w-0  hover:after:w-full hover:after:left-0 ml-3 2md:ml-0 
  }

  .title-cosmetic{
    @apply after:absolute after:-bottom-1 after:left-0 after:w-[20px] after:h-[2px] after:bg-psi-purple-100
  }
  

   /*----- Buttons ----- */

  .button{
    @apply cursor-pointer flex items-center text-center justify-center rounded-3xl bg-psi-purple-200 text-psi-white font-bold transition-transform hover:animate-pulse hover:scale-105
  }

  .button-large {
    @apply w-[280px] py-5 md:py-6 text-lg md:text-xl 
  }

  .button-medium {
    @apply w-[200px] py-4 md:py-4 text-base lg:text-lg
  }

}


